<div class="center">
  <h1>Sign Up</h1>
</div>

<% if (locals.notice) { %>
  <div id="failed-request" className="notice"><%= notice %></div>
<% } %>
  
<div id="register-form" submitUserPath="<%= submitUserPath %>" allEmails="<%= JSON.stringify(emails) %>"></div>
