.displayedCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}

.card {
  background-color: $palette3;
  margin: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  font-weight: 500;
  box-shadow: 5px 10px 18px #00000070;
}

.cardRow {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.rowLabel {
  display: relative;
  text-align: left;
  margin-left: 20px;
}

.rowContent {
  a {
    text-decoration: underline;
    color: $palette4;
    &:hover{
      color: $palette1;
    }
  }
  text-align: center;
  color: white;
}

#title {
  font-size: 2em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 10px;
  p {
    margin: 0 auto;
    font-weight: lighter;
    font-size: small;
    text-shadow: none;
  }
}

.options {
  display: flex;
  justify-content: center;
  a, form{
    margin: 10px;
  }

  button, .deleteBtn {
    background-color: $palette2;
    &:hover{
      background-color: $palette1;
      }
  }
}